body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
	font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; 
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    height: 200px;
    margin: 25vmin auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: right;
    background: #212529;
    color: white;
    border: 3px solid lightgray;
    border-radius: 20px;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover{
    box-shadow: 2px 1px #6b705c;
}
.content{
    display: block;
    width: 250px;
    padding-right: 15px;
    margin-right: 20px;
}

.content:hover{
    box-shadow: 4px 4px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    border-radius: 10px;
    background: white;
    color: #343a40;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
